body {
  color: white;
  text-align: center;
  padding: 20px;
}

.foto {
  width: 80px;
  border-radius: 50%;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.noticia {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.noticia img {
  width: 100%;
  border-radius: 10px;
}

.login, .admin {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background: green;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}
